# See more definitions: https://github.com/polybar/polybar/wiki

[bar/main]
monitor = ${env:MONITOR}
enable-ipc = true
height = 24
padding = 3
module-margin-left = 3
module-margin-right = 3

background = #D000000
foreground = #EAEAEA
line-size = 2
font-1 = "FiraCode Nerd Font:size=10;1"
font-0 = "Droid Sans:size=9:weight=bold;1"

modules-center = i3
modules-right = sound bluetooth dunst date

[module/sound]
type = internal/pulseaudio
format-volume = "<ramp-volume>   <label-volume>"
label-volume = %percentage%
label-muted = "ﱝ   %percentage%"
label-muted-foreground = #666666
ramp-volume-0 = ""
ramp-volume-1 = ""
ramp-volume-2 = ""
ramp-volume-3 = ""

[module/bluetooth]
type = custom/script
exec = ~/.config/i3/rofi/rofi-bluetooth.sh --status
interval = 1
click-left = ~/.config/i3/rofi/rofi-bluetooth.sh &

[module/dunst]
type = custom/ipc
initial = 1
format-foreground = #BFAB0B

hook-0 = echo "%{A1:dunstctl set-paused true && polybar-msg hook dunst 2:}%{A}" &
hook-1 = echo "%{A1:dunstctl set-paused false && polybar-msg hook dunst 1:}%{A}" &

[module/date]
type = internal/date
date = %%{F#ccc}%Y-%m-%d%%{F-}  %%{F#fff}%H:%M%%{F-}

[module/i3]
type = internal/i3
pin-workspaces = true
strip-wsnumbers = true
index-sort = true

;; focussed workspace
label-focused-padding = 6
label-focused-foreground = #ffffff
label-focused-background = #000000
label-focused-underline = #61AFEF

;; not focussed but visible on other minitor
label-visible-underline = #666666
label-visible-padding = 6

label-unfocused-padding = 6
label-unfocused-foreground = #666666

label-urgent-padding = 6
label-urgent-foreground = #000000
label-urgent-background = #bd2c40

label-separator = |
label-separator-padding = 4
label-separator-foreground = #555555
